.root {
    .root {
        -fx-background-image: url("file:/C:/Users/GTH/Desktop/App_Divide_Ai/divideai/src/main/resources/background.jpg");
        -fx-background-size: cover;
        -fx-background-position: center center;
        -fx-background-repeat: no-repeat;
    }

}

.label {
    -fx-text-fill: #333;
}

.text-field {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
    -fx-padding: 5;
}

.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: #fff;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
}
